################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.map
/.tools
*.manifest
*.exe
/Packages
*.suo
*.orig
*.user
/target/**/*
/drop/**/*
*.cache
*.projhash
*.slnhash
/**/.vscode
/init.log
/Logs/**/*
*.nlp

**/*node_modules/*
*node_modules/*

/**/.vs/config/**/*
/**/*.StyleCop
*.coverage

/build/include/Environment.targets